* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

*.html text
*.css text
*.js text
*.json text
*.md text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary 